header
{
  font-size:35;
  font-weight:bold;
  text-decoration:underline 1.5px;
  color:black;
}

nav header
{
  padding:15px;
  font-size:39;
}

.declaration
{
	padding:20px;
	color:red;
}
body
{
  color:#555555;
}
#navbar ul
{
  list-style-type:square;
}

#navbar ul li
{
  font-size:29;
  margin-bottom:30px;
  border-bottom:solid 4px;
}

#navbar ul a
{
  text-decoration:none;
  color:#9911ff;
}

.navigation
{
  position:fixed;
  min-width:290px;
  left:0;
  top:0;
  height:100%;
  width:300px;
  border-right:solid 2px;
}

.content
{
  position:absolute;
  min-width:290px;
  top:20;
  margin-left:10px;
  padding-bottom:25px;
  left:320px;
  padding-right:50px;
  text-align:justify;
}

p,main ul
{
  font-size:20;
}

code
{
  font-size:15;
  background-color:rgba(255,255,125,0.5);
}
.main-section header
{
  margin-top:5px;
}

#Global_Variables,#Variables
{
  margin-top:15px;
}

@media only screen and (max-width: 800px) {
  #navbar ul li {
    border-bottom:0.5px solid;
  }
  code
  {
    background-color:rgb(255,255,125);
  }
}
